# /etc/nginx/sites-available/default

server {
	# SSL configuration
	#
	listen 443 ssl default_server;
	listen [::]:443 ssl default_server;
	#
	root /var/www/html;

	# Add index.php to the list if you are using PHP
	index index.html index.htm index.nginx-debian.html;

	server_name npttile.vs.mythic-beasts.com;

	location /npct-data/ {
		proxy_set_header          X-Real-IP $remote_addr;
		proxy_set_header          X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header          X-Forwarded-Proto $scheme;
		proxy_buffering           off;
		proxy_hide_header         Content-Type;
		add_header                Content-Type "application/octet-stream";

		location ~ /npct-data/(?<repo>(.+))/(?<purpose>(.+))/(?<geog>(.+))/(?<region>(.+))/(?<file>(.+)) {
			proxy_pass              https://media.githubusercontent.com/media/npct/$repo/master/$purpose/$geog/$region/$file;
			add_header              Content-Disposition 'attachment; filename="$purpose-$geog-$region-$file"';
		}

		location ~ /npct-data/(?<repo>.+)/(?<purpose>(.+))/(?<geog>(.+))/(?<file>(.+)) {
			proxy_pass              https://media.githubusercontent.com/media/npct/$repo/master/$purpose/$geog/$file;
			add_header              Content-Disposition 'attachment; filename="$purpose-$geog-national-$file"';
		}

		location ~ /npct-data/(?<repo>(.+))/(?<purpose>(.+))/(?<file>(.+)) {
			proxy_pass              https://media.githubusercontent.com/media/npct/$repo/master/$purpose/$file;
			add_header              Content-Disposition 'attachment; filename="$purpose-$file"';
		}
	}

	location / {
		# First attempt to serve request as file, then
		# as directory, then fall back to displaying a 404.
		try_files $uri $uri/ =404;
	}

	location ~/.well-known {
		allow all;
	}
}
